# DateTime

In [3]:
import datetime
now = datetime.datetime.now()
print(now)

2023-03-10 08:54:03.491906

In [4]:
import datetime
now = datetime.date.today()
print(now)

2023-03-10

In [5]:
import datetime

day = datetime.date(2022, 12, 25)
print(day)

2022-12-25

In [6]:
from datetime import date

d = date(2022, 12, 25)
print(d)

2022-12-25

In [7]:
from datetime import date

todays_date = date.today()

print("Today's date =", todays_date)

Today's date = 2023-03-09

In [8]:
from datetime import date

timestamp = date.fromtimestamp(1326244364)
print("Date =", timestamp)

Date = 2012-01-11

In [9]:
from datetime import date

today = date.today() 

print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)

Current year: 2023
Current month: 3
Current day: 9

In [10]:
from datetime import time

# time(hour = 0, minute = 0, second = 0)
a = time()
print(a)

# time(hour, minute and second)
b = time(11, 34, 56)
print(b)

# time(hour, minute and second)
c = time(hour = 11, minute = 34, second = 56)
print(c)

# time(hour, minute, second, microsecond)
d = time(11, 34, 56, 234566)
print(d)

00:00:00
11:34:56
11:34:56
11:34:56.234566

In [11]:
from datetime import time

a = time(11, 34, 56)

print("Hour =", a.hour)
print("Minute =", a.minute)
print("Second =", a.second)
print("Microsecond =", a.microsecond)

Hour = 11
Minute = 34
Second = 56
Microsecond = 0

In [12]:
from datetime import datetime

# datetime(year, month, day)
a = datetime(2022, 12, 28)
print(a)

# datetime(year, month, day, hour, minute, second, microsecond)
b = datetime(2022, 12, 28, 23, 55, 59, 342380)
print(b)

2022-12-28 00:00:00
2022-12-28 23:55:59.342380

In [13]:
from datetime import datetime, date

# using date()
t1 = date(year = 2018, month = 7, day = 12)
t2 = date(year = 2017, month = 12, day = 23)

t3 = t1 - t2

print("t3 =", t3)

# using datetime()
t4 = datetime(year = 2018, month = 7, day = 12, hour = 7, minute = 9, second = 33)
t5 = datetime(year = 2019, month = 6, day = 10, hour = 5, minute = 55, second = 13)
t6 = t4 - t5
print("t6 =", t6)

print("Type of t3 =", type(t3)) 
print("Type of t6 =", type(t6))

t3 = 201 days, 0:00:00
t6 = -333 days, 1:14:20
Type of t3 = <class 'datetime.timedelta'>
Type of t6 = <class 'datetime.timedelta'>

In [14]:
from datetime import timedelta

t1 = timedelta(weeks = 2, days = 5, hours = 1, seconds = 33)
t2 = timedelta(days = 4, hours = 11, minutes = 4, seconds = 54)

t3 = t1 - t2

print("t3 =", t3)

t3 = 14 days, 13:55:39

In [15]:
from datetime import timedelta

t = timedelta(days = 5, hours = 1, seconds = 33, microseconds = 233423)
print("Total seconds =", t.total_seconds())

Total seconds = 435633.233423

In [16]:
from datetime import datetime

# current date and time
now = datetime.now()

t = now.strftime("%H:%M:%S")
print("Time:", t)

s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
# mm/dd/YY H:M:S format
print("s1:", s1)

s2 = now.strftime("%d/%m/%Y, %H:%M:%S")
# dd/mm/YY H:M:S format
print("s2:", s2)

Time: 18:01:08
s1: 03/09/2023, 18:01:08
s2: 09/03/2023, 18:01:08

In [17]:
from datetime import datetime

date_string = "25 December, 2022"
print("date_string =", date_string)

# use strptime() to create date object
date_object = datetime.strptime(date_string, "%d %B, %Y")

print("date_object =", date_object)

date_string = 25 December, 2022
date_object = 2022-12-25 00:00:00

In [18]:
from datetime import datetime
import pytz

local = datetime.now()
print("Local:", local.strftime("%m/%d/%Y, %H:%M:%S"))


tz_NY = pytz.timezone('America/New_York') 
datetime_NY = datetime.now(tz_NY)
print("NY:", datetime_NY.strftime("%m/%d/%Y, %H:%M:%S"))

tz_London = pytz.timezone('Europe/London')
datetime_London = datetime.now(tz_London)
print("London:", datetime_London.strftime("%m/%d/%Y, %H:%M:%S"))

Local: 03/09/2023, 18:01:51
NY: 03/09/2023, 06:01:51
London: 03/09/2023, 11:01:51

# Decimal

In [19]:
import decimal
 
# using exp() to compute the exponent of decimal number
a = decimal.Decimal(4.5).exp()
 
# using sqrt() to compute the square root of decimal number
b = decimal.Decimal(4.5).sqrt()
 
# printing the exponent
print ("The exponent of decimal number is : ",end="")
print (a)
 
# printing the square root
print ("The square root of decimal number is : ",end="")
print (b)

The exponent of decimal number is : 90.01713130052181355011545675
The square root of decimal number is : 2.121320343559642573202533086

In [20]:
import decimal
 
# using ln() to compute the natural log of decimal number
a = decimal.Decimal(4.5).ln()
 
# using sqrt() to compute the log10 of decimal number
b = decimal.Decimal(4.5).log10()
 
# printing the natural logarithm
print ("The natural logarithm of decimal number is : ",end="")
print (a)
 
# printing the log10
print ("The log(base 10) of decimal number is : ",end="")
print (b)

The natural logarithm of decimal number is : 1.504077396776274073373258352
The log(base 10) of decimal number is : 0.6532125137753436793763169118

In [21]:
import decimal
 
a = decimal.Decimal(-4.5).as_tuple()
 
b = decimal.Decimal(5).fma(2,3)
 
print ("The tuple form of decimal number is : ",end="")
print (a)
 
print ("The fused multiply and addition of decimal number is : ",end="")
print (b)

The tuple form of decimal number is : DecimalTuple(sign=1, digits=(4, 5), exponent=-1)
The fused multiply and addition of decimal number is : 13

In [22]:
import decimal
 
a = decimal.Decimal(9.53)
 
b = decimal.Decimal(-9.56)
 
print ("The result of comparison using compare() is : ",end="")
print (a.compare(b))
 
print ("The result of comparison using compare_total_mag() is : ",end="")
print (a.compare_total_mag(b))

The result of comparison using compare() is : 1
The result of comparison using compare_total_mag() is : -1

In [23]:
import decimal
 
a = decimal.Decimal(9.53)
 
b = decimal.Decimal(-9.56)
 
print ("The absolute value using copy_abs() is : ",end="")
print (b.copy_abs())
 
print ("The negated value using copy_negate() is : ",end="")
print (b.copy_negate())
 
print ("The sign effected value using copy_sign() is : ",end="")
print (a.copy_sign(b))

The absolute value using copy_abs() is : 9.5600000000000004973799150320701301097869873046875
The negated value using copy_negate() is : 9.5600000000000004973799150320701301097869873046875
The sign effected value using copy_sign() is : -9.5299999999999993605115378159098327159881591796875

In [24]:
import decimal
 
a = decimal.Decimal(12.22)
 
b = decimal.Decimal(10.11)
 
print ("Minimum : ",end="")
print (a.min(b))
 
print ("Maxium: ",end="")
print (a.max(b))

The minimum of two numbers is : 7.429999999999999715782905696
The maximum of two numbers is : 9.529999999999999360511537816

# Fraction

In [25]:
from fractions import Fraction
  
print (Fraction(10, 100))
  
print (Fraction(12, 20))
 
print (Fraction())

11/35
5/9
0

In [26]:
from fractions import Fraction
 
print (Fraction(1.13))

1272266894732165/1125899906842624

In [27]:
from fractions import Fraction
 
print (Fraction('1.13'))

113/100

In [28]:
from fractions import Fraction
  
print (Fraction('1/25'))
  
print (Fraction('3.23'))
 
print (Fraction('33/7'))
 
print (Fraction('1.414213 \t\n'))

8/25
113/100
3/7
1414213/1000000

In [29]:
from fractions import Fraction
  
print (Fraction(1113, 100) + Fraction(118, 10))
  
print (Fraction(182, 6) / Fraction(118, 10))
  
print (Fraction(128, 6) * Fraction(118, 10))
  
print (Fraction(182, 2) * Fraction(118, 10))
  
print (Fraction(122, 63) ** Fraction(118, 10))

2267/900
2
288/95
3/2
2.8592589556010197

In [ ]:
import math
from fractions import Fraction
  
print (math.sqrt(Fraction(21, 4)))
  
print (math.sqrt(Fraction(300,3)))
  
print (math.floor(Fraction(1258, 12213)))
  
print (Fraction(math.sin(math.pi/2)))
  
print (Fraction(math.sin(math.pi/4)).limit_denominator(100))